<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    title Natours | #{title} 
  body
    #{moment.locale('es')}
    //HEADER
    include _header
    //CONTENT    
    block content     
      h1 This is a placeholder heading  

    //FOOTER
    include _footer


    //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')